<form [formGroup]="calcForm">
  <div>
    <label>Función:</label>
    <input formControlName="functionStr" placeholder="Escribe tu función aquí">
  </div>

  <div>
    <label>Límite inferior:</label>
    <input type="number" formControlName="lowerLimit">
  </div>

  <div>
    <label>Límite superior:</label>
    <input type="number" formControlName="upperLimit">
  </div>

  <div>
    <label>Número de intervalos:</label>
    <input type="number" formControlName="intervals">
  </div>

  <button type="button" (click)="calculateTrapezoidal()">Trapezoidal</button>
  <button type="button" (click)="calculateSimpson13()">Simpson 1/3</button>
  <button type="button" (click)="calculateSimpson38()">Simpson 3/8</button>
  <button type="button" (click)="calculateSimpsonAbierto()">Simpson Abierto</button>
  <button type="button" (click)="calculateJorgeBoole()">Jorge Boole</button>
</form>

<div>
  <span>delta es:{{delta}}</span>
  <hr>
  <label>Resultado:</label>
  <span>{{ result }}</span>
</div>
