<div class="container__nav">
  <div  class="container__nav__ubic-left">
      <span class="container__nav__ubic-left__font-left">Metedos Numericos</span>
  </div>
  <div  class="container__nav__ubic-center">
      <span>Infomacion de los metodos</span>
      <span>Calculadora de metodos</span>
      <span>Sobre Nosotros</span>
  </div>
  <div class="container__nav__ubic-right">
      <div class="container__nav__ubic-right__img">
          <img src="../../../assets/img/descarga (1).jpeg" class="container__nav__ubic-right__img__img-x">
      </div>
  </div>
</div>
